<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjJxgufd72ExWl-LIU_c_0GujNBKrIzzM</string>
	<key>GCM_SENDER_ID</key>
	<string>846379936256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shuttleTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>campride-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>campride-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846379936256:ios:9da1cb2c45a8111d0606e5</string>
</dict>
</plist>